.container {
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    background-color: var(--navbar-bg);
    color: var(--primary);
    box-shadow: var(--navbar-shadow);
}

.container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: none;
    gap: var(--navbar-links-gap);
    align-items: center;
}

@media (min-width: 768px) {
    .links {
        display: flex;
    }
}

.link {
    font-weight: var(--title-font-weight);
}

.link:hover {
    text-decoration: underline;
}