.button {
    background-color: var(--primary);
    color: white;
    border: 0;
    font-size: 1rem;
    padding: 0.7rem 1.5rem;
    border-radius: var(--border-radius);
    text-transform: capitalize;
    border: var(--border-size) solid var(--primary);
    letter-spacing: 0.05rem;
    font-weight: 500;
    cursor: pointer;
    transition: 200ms;
    display: inline-block;
}

.button:hover {
    background-color: var(--background);
    color: var(--primary);
}

.button:active {
    filter: brightness(80%);
}

.outlined {
    background-color: transparent;
    color: var(--primary);
}

.outlined:hover {
    background-color: var(--primary);
    color: white;
}