@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #1E1E20;
    --primary-light: #1E1E20;
    --background: #FFFFFF;
    --color: #1E1E20;

    --centered-width: 100%; /* Size of the content, the smaller the more margin they will have on the sides */
    --content-padding: 0 1rem;

    --title-font-weight: 700;
    --font-weigth: 500;

    --border-radius: 2px;
    --border-size: 2px;

    --navbar-bg: #FFFFFF;
    --navbar-height: 4rem;
    --navbar-shadow: 0 0 4px 2px rgba(0,0,0,0.25);
    --navbar-links-gap: 2rem;
}

html {
    font-size: 16px;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, button {
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: var(--background);
    color: var(--color);
}

body {
    position: relative
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--title-font-weight);
}

a {
    text-decoration: none;
    color: inherit;
}

.content {
    width: 100%;
    padding: var(--content-padding);
}

@media (min-width: 100%) {
    .content {
        width: var(--centered-width);
        margin: auto;
    }
}

/* a.anchor {
    display: block;
    position: relative;
    top: -7rem;
    visibility: hidden;
} */